# Виртуальное окружение
.venv/
venv/
env/

# PyCharm
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# OS
.DS_Store
Thumbs.db

# FastAPI/Flask dev
*.log